body {
  background: #111;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: #111;
  border: none;
  background: white;
  max-width: 400px;
  outline: none;
}
.todos li {
  background: crimson;
}
.delete,
.edit,
.save {
  cursor: pointer;
}
.delete:hover {
  color: springgreen;
}
